<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Construai | Pesquisas</title>
    <link rel="shortcut icon" href="../icone.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/index.css", type="text/css">
    <link rel="stylesheet" href="../static/css/end.css", type="text/css">
    <link rel="stylesheet" href="{{  url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{  url_for('static', filename='css/end.css') }}">
    <link rel="website icon" type="png" href="{{ url_for('static', filename='arts/icone.ico')}}">
</head>
<body>
    <img src="../static/arts/construai.png" class="construai">
    <form action="/finalized/" method="get">
        <div class="container">
            <p><span id="realized">Pesquisa realizada com sucesso! Confira seu resultado:</span></p>
            <input type="submit" value="Finalizar" class="btn baixar" onclick="close_window()">
        </div>
    </form>
    <script src="../static/js/index.js"></script>
</body>
</html>